/* You can add global styles to this file, and also import other style files */

:root {
  --main-red: #dc143c;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.red-highlight {
  color: var(--main-red);
}

.v-middle {
  vertical-align: middle;
}

.success-message {
  background-color: #28a745;
  color: #fff;
}

.error-message {
  background-color: var(--main-red);
  color: #fff;
}
